fish_universal_variables
fish_variables*
.envrc
env.fish
env.bash
env.zsh
01_env.*
10_env.*
.zcompdump
*.log
.env_toml_sha*
.mypy_cache/
node_modules/
yarn.lock
.netrwhist
*/.vim/**/*.txt
tags
.config/direnv/allow/
.config/nvim/spell
vifminfo*
*/asciinema/install-id

# Home dir repo ignores
/Applications/
/Creative Cloud Files/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/.ansible_async/
/.dropbox*/
/git/
/go/
/.cargo/
/certificates/
/.asdf/
/.cache/
/.cheat.sh/
/.cht.sh/
/.cmake/
/.cups/
/.dotnet/
/.fzf/
/.gem/
/.gnupg/
/.ipython/
/.irssi/
/.local/
/.luarocks/
/.mono/
/.mutt/
/.npm/
/.nvm/
/.nuget/
/.pandoc/
/.parallel/
/.pylint.d/
/.rustup/
/.ssh/
/src/
/saturn/
/.tmux/
/.Trash/
/.tldrc/
/.terminfo/
/.vcpkg/
/vim-test/
/.vim/
/.w3m/
/.zinit/
/.zsh_sessions/

/.ansible_galaxy
/.ansible/tmp/
/.bash_history
/.bash-git-prompt
/.bash_logout
/.ctags
/.CFUserTextEncoding
/_direnv.txt
/.dropbox_uploader
/.htaccess
/.iterm2_shell_integration.fish
/.lesshst
/.node_repl_history
/package.json
/package-lock.json
/.python_history
/.tig_history
/.todoist.*.json
/.tool-versions
/.viminfo
/.wget-hsts
/.yarnrc
/.zcompdump*
/.zshenv
/.zsh_history
