fish_universal_variables
fish_variables*
.envrc
env.fish
env.bash
env.zsh
01_env.*
10_env.*
.zcompdump
*.log
.env_toml_sha*
.mypy_cache/
node_modules/
yarn.lock
.netrwhist
*/.ansible/tmp/
*/.vim/**/*.txt
tags
.config/direnv/allow/
.config/nvim/spell
vifminfo*
*/asciinema/install-id

# Home dir repo ignores
/.ansible_async/
/Dropbox/
/.dropbox*/
/git/
/go/
/.cargo/
/.asdf/
/.cache/
/.cheat.sh/
/.cht.sh/
/.cmake/
/.dotnet/
/.fzf/
/.gem/
/.gnupg/
/.ipython/
/.irssi/
/.local/
/.luarocks/
/.mono/
/.mutt/
/.npm/
/.nuget/
/.pandoc/
/.parallel/
/.pylint.d/
/.rustup/
/.ssh/
/src/
/saturn/
/.tmux/
/.vcpkg/
/vim-test/
/.vim/
/.w3m/
/.zinit/

/.ansible_galaxy
/.bash_history
/.bash_logout
/.ctags
/_direnv.txt
/.lesshst
/.node_repl_history
/package.json
/package-lock.json
/.python_history
/.tig_history
/.todoist.*.json
/.tool-versions
/.viminfo
/.wget-hsts
/.yarnrc
/.zcompdump*
/.zshenv
/.zsh_history
