fish_universal_variables
fish_variables*
env.fish
env.bash
env.zsh
01_env.*
10_env.*
.zcompdump
*.log
.env_toml_sha*
.mypy_cache/
node_modules/
yarn.lock
.netrwhist
*/.ansible/tmp/
*/.vim/**/*.txt
tags
.config/direnv/allow/
.config/nvim/spell
vifminfo*
*/asciinema/install-id
