{% for item in path %}
{% if item|is_dir() %}
fish_add_path {{ item }}
{% endif %}
{% endfor %}

{% for key,value in env.items() %}
{% if value %}
set -gx {{ key }} {{ value }}
{% endif %}
{% endfor %}

{% for key,value in alias.items() %}
{% if value %}
abbr -g {{ key }} {{ value }}
{% endif %}
{% endfor %}
