/autostart/
/clifm/
/coc/
/configstore/
/gitui/
/jesseduffield/
/keybase/
/fonts/
/iterm2/
/jump/
/micro/
/nnn/
/NuGet/
/ookla/
/TabNine/
/newsboat/

/hub
/gh/hosts.yml
/gh/state.yml

/.xmake
/nvim/plugin/packer_compiled.lua

/nushell/history.txt
