/autostart/
/clifm/
/coc/
/configstore/
/jesseduffield/
/kak/plugins/
/keybase/
/fonts/
/iterm2/
/ipinfo/
/jump/
/micro/
/nnn/
/NuGet/
/ookla/
/TabNine/
/newsboat/

/hub
/gh/hosts.yml
/gh/state.yml
/lazygit/state.yml

/.xmake
/nvim/.luarc.json
/nvim/plugin/packer_compiled.lua

/nushell/history.txt
/todoist/config.json
